@import 'common';

.container {
    align-items: center;
    background-color: $color-primary;
    color: $color-text-light;
    display: flex;
    height: 60px;
    justify-content: space-between;
    padding: 16px;
    width: 100%;
}

.subContainer {
    align-items: center;
    display: flex;
}

.logo {
    align-items: center;
    display: flex;
    font-size: 18px;

    :first-child {
        margin-right: 4px;
    }
}

.searchBar {
    align-items: center;
    display: flex;
    margin-left: 24px;
}